name: PEP8 linter

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  linter:
    strategy:
      matrix:
        python: [ "3.12" ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install -U pycodestyle

      - name: run pep8check @pull_request
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          git diff -U0 origin/${GITHUB_BASE_REF}..${GITHUB_SHA} | pycodestyle --diff --format='::error file=%(path)s,line=%(row)d,col=%(col)d::%(code)s: %(text)s'

      - name: run pep8check @push
        if: ${{ github.event_name == 'push' }}
        run: |
          git show -U0 ${GITHUB_SHA} | pycodestyle --diff --format='::error file=%(path)s,line=%(row)d,col=%(col)d::%(code)s: %(text)s'

  type-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install mypy
        run: python -m pip install mypy

      - name: Install types of dependencies
        run: |
          python -m pip install types-Deprecated
          python -m pip install types-requests

      - name: Run mypy
        uses: sasanquaneuf/mypy-github-action@releases/v1
        with:
          checkName: "type-checker"   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
